{% load html %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Cousinade{% endblock %}</title>
        {% block css %}
            {% css "lib/jquery.tablesorter.css" %}
            {% css "lib/jquery.lightbox.css" %}
            {% css "base.css" %}
        {% endblock %}
        {% block js %}
            {% js "lib/jquery.js" %}
            {% js "lib/jquery.metadata.js" %}
            {% js "lib/jquery.tablesorter.min.js" %}
            {% js "lib/picnet.table.filter.min.js" %}
            {% js "lib/jquery.lightbox.js" %}
        {% endblock %}
    </head>
    <body>
        {% if request.user %}
            <ul class="nav-bar">
                <!--<li><a href="{% url cousinade.views.tree %}">Vue en arbre</a></li>-->
                <li><a href="{% url cousinade.views.index %}">Vue en liste</a></li>
                <li><a href="{% url cousinade.views.edit %}">Ajouter une personne</a></li>
                <li><a href="{% url cousinade.views.do_password_reset %}">Changer de mot de passe</a></li>
                <li><a href="{% url cousinade.views.logout %}">Se déconnecter</a></li>
                {% block last_menu_li %}<li></li>{% endblock %}
            </ul>
        {% endif %}
        <div id="content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
