{% extends "base.html" %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#listing").tablesorter({
                widgets: ['zebra'],
                sortList: [[3,0], [2,0]],
                widthFixed : true
            });
            $('#listing').tableFilter({
                additionalFilterTriggers: [$('#search-field')],
                filterDelay: '100ms',
                enableCookies: false,
                clearFiltersControls: [$('#search-reset')]
            });
            $(".thumbnails a").lightBox();
            $('.info').click(function(){
                $(this).html($(this).data('all'));
            });
            $('#search-field').change(function(){
                if($(this).val() == '')
                    $('#search-reset').click();
            });
        });
    </script>
{% endblock %}
{% block last_menu_li %}
<li><input type="text" id="search-field" /></li>
{% endblock %}
{% block body %}
<div id="search-reset" style="display: none;"></div>
<table cellspacing="1" id="listing" class="tablesorter">
<thead>
    <tr>
        <th class="{sorter: false}"></th>
        <th class="{sorter: false}"></th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>E-Mail</th>
        <th style="min-width: 110px;">Téléphone</th>
        <th>Adresse</th>
        <th>Date de naissance</th>
        <th filter="false">Père</th>
        <th filter="false">Mère</th>
        <th class="{sorter: false}">−</th>
    </tr>
</thead>
<tbody>
    {% for o in objects %}
    <tr>
        <td class="edit">
            <a href="{% url cousinade.views.edit o.id %}">
                <img src="{{ STATIC_URL }}/images/edit.png" alt="edit" />
            </a>
            <span style="display: none;">{{ o }}</span>
        </td>
        {% if o.picture %}
        <td class="thumbnails"><a href="{{ o.picture.url_400x400 }}">
            <img src="{{ o.picture.url_50x50 }}" alt="edit" />
        </a></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ o.first_name }}</td>
        <td>
            {{ o.last_name }}
            {% if o.maiden_name and o.last_name != o.maiden_name %}
            (née {{ o.maiden_name }})
            {% endif %}
        </td>
        <td>
            {% if o.email %}<a href="mailto:{{ o.email }}">{{ o.email }}</a>
            {% else %}−{% endif %}
        </td>
        <td>
            {{ o.phone }}
            {% if o.phone2 %}
            <br>{{ o.phone2 }}
            {% endif %}
        </td>
        <td>
            {{ o.address }}
            {% if o.address2 %}
            <br>{{ o.address2 }}
            {% endif %}
        </td>
        <td>{{ o.birth|default:"−" }}</td>
        <td>{{ o.father|default:"−" }}</td>
        <td>{{ o.mother|default:"−" }}</td>
        <td class="info" data-all="{{ o.info }}">{{ o.info|truncatewords:15 }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
