{% extends "base.html" %}
{% load html tree %}
{% block js %}
    {{ block.super }}
    {% js "lib/jit.js" %}
<script type="text/javascript">
    var json = {% tree objects %};
    var st;
    function search(val, data){
        for(var i=0; i<data.length; i++) {
            for(var j=0; j<data[i].name.names.length; j++)
                if(data[i].name.names[j].toLowerCase().search(val) >= 0)
                    return data[i].id;
            rec = search(val, data[i].children);
            if(rec !== -1)
                return rec;
        }
        return -1;
    }
    $(document).ready(function(){
        st = new $jit.ST({
            injectInto: 'tree',
            orientation: 'top',
            duration: 400,
            transition: $jit.Trans.Quart.easeInOut,
            levelDistance: 50,
            Navigation: {
              enable:true,
              panning:true
            },
            Node: {
                height: 54,
                type: 'rectangle',
                overridable: true,
                align: 'left'
            },

            Edge: {
                type: 'bezier',
                overridable: true
            },
            Tips: {
                enable: true,
                type: 'auto',
                offsetX: 10,
                offsetY: 10,
                onShow: function(tip, node) {
                    var html = '<div>' +
                        '<div class="img-ctn"><img src="' + node.name.images_large[0] + '" /></div>' +
                        '<p>' + node.name.names[0] + '</p>' +
                        '<p>' + node.name.maiden_names[0] + '</p>' +
                        '<p>' + node.name.birth_dates[0] + '</p>' +
                        '<p>' + node.name.phones[0] + '</p>' +
                        '<p><a href="mailto:' + node.name.emails[0] + '">' + node.name.emails[0] + '</a></p>' +
                        '<p>' + node.name.infos[0] + '</p>' +
                    '</div>';
                    if(node.name.height == 2)
                    html += '<div>' +
                        '<div class="img-ctn"><img src="' + node.name.images_large[1] + '" /></div>' +
                        '<p>' + node.name.names[1] + '</p>' +
                        '<p>' + node.name.maiden_names[1] + '</p>' +
                        '<p>' + node.name.birth_dates[1] + '</p>' +
                        '<p>' + node.name.phones[1] + '</p>' +
                        '<p><a href="mailto:' + node.name.emails[1] + '">' + node.name.emails[1] + '</a></p>' +
                        '<p>' + node.name.infos[1] + '</p>' +
                    '</div>';
                    $('#tip').html(html);
                    $('#tip').show();
                },
                onHide: function() {
                    $('#tip').hide();
                }
            },
            onCreateLabel: function(label, node){
                label.id = node.id;
                if(node._depth == 0) {
                    label.style.color = 'white';
                    return;
                }
                var img1, img2, name1, name2;
                img1 = '<div class="img-ctn"><img class="id_thumb" src="' + node.name.images[0] + '" /></div>';
                name1 = node.name.names[0];
                img2 = name2 = '';
                if(node.name.height == 2){
                    img2 = '<div class="img-ctn"><img class="id_thumb" src="' + node.name.images[1] + '" /></div>';
                    name2 = '<br />' + node.name.names[1];
                }
                label.innerHTML = '<div class="tree-node">' + img1 + '<span>' + name1 + name2 + '</span>' + img2 + '</div>';
                label.onclick = function(){
                    st.onClick(node.id);
                };
            },

            onBeforePlotNode: function(node){
                if(node._depth == 0)
                    node.data.$color = 'white';
            },
            onBeforePlotLine: function(adj){
                if (adj.nodeFrom._depth == 0 || adj.nodeTo._depth == 0)
                    adj.data.$color = 'white';
            }
        });
        st.loadJSON({id:'root-node', name: 'root', data: {}, children: json});
        st.compute();
        st.canvas.translate(0,-100);
        st.onClick(st.root);

        $('#search-field').keyup(function(){
            var id = search($(this).val().toLowerCase(), json);
            if(id !== -1)
                st.select(id);
        });
    });
</script>
{% endblock %}
{% block last_menu_li %}
    <li><input type="text" id="search-field" /></li>
{% endblock %}
{% block body %}
<div id="tree"></div>
<div id="tip"></div>
{% endblock %}
